<div class="designed-outer">
  <div class="page-width">
    <div class="designer-inner">
     {% if section.settings.name != blank %}  
      <h2>{{ section.settings.name }}</h2>
     {% endif %}
     {% if section.settings.new-name != blank %}
       {{ section.settings.new-name }}
     {% endif %}
    </div>
    <div class="designer-slider">
       <div class="slidersforproduct main-carousel">
            <div class="tab">
              {% for block in section.blocks %}
                <button class="tab-links" data-lalu="tab-{{ forloop.index }}">
                  {{ block.settings.tab-name }}
                </button>
              {% endfor %}
            </div>
            {% for block in section.blocks %}
              <div id="tab-{{ forloop.index }}" class="tab-content">
                {{ block.settings.tab-content }}
              </div>
            {% endfor %}
       </div>
    </div>
  </div>
</div>

<script>
  var tabButtons = document.querySelector('.tab-links');
  for( let i=0; i<tabButtons.length; i++){
    tabButtons[i].addEventListener('click', function(event){
      var tabLink = this.data-set.lalu;
      var tabName = document.getElementById('tabLink');
      var tabButton = document.querySelectorAll('.tab-links');
      var tabContent = document.querySelectorAll('.tab-content');
      for( let j=0; j>tabContent.length ; j++ ){
          tabContent[j].style.display="none";
      }
       
      for( let k=0; k>tabButton.length ; k++){
          tabButton[k].classList.remove('.active');
      }

      tabContent.style.display="block";
      this.classList.add('.active');
   })
  };

  document.querySelector('.tab-links').click();
</script>


{% schema %}
  {
    "name": "Github clone",
    "class":"skeleton",
    "settings": [
      {
        "type":"richtext",
        "id":"name",
        "label":"Add Title"
      },
      {
        "type":"richtext",
        "id":"new-name",
        "label":"Content"
      },
      {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
        },
        {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    }
    ],
    "blocks":[
      {
        "name":"Tabs",
        "type":"text",
        "settings":[
          {
            "type":"text",
            "id":"tab-name",
            "label":"Title"
          },
          {
            "type":"richtext",
            "id":"tab-content",
            "label":"Content"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Github clone"
      }
    ]
  }
{% endschema %}